@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --s-track: rgba(235, 235, 235, 0.95);
  --s-thumb: rgb(81, 81, 81);
  --bg-color: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: color 0.5s, background-color 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--s-track);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--s-thumb);
}

::selection,
::-moz-selection {
  background-color: rgba(128, 0, 128, 0.286);
}

@media (prefers-color-scheme: dark) {
  :root {
    --s-track: rgba(84, 84, 84, 0.299);
    --s-thumb: linear-gradient(rgb(154, 14, 197), rgb(14, 145, 197));
  }
  body {
    background-color: #111827;
  }
}
