@import url("https://use.typekit.net/zzs5nei.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background-color: rgba(0, 158, 53, 0.796);
}

::-moz-selection {
  background-color: rgba(0, 158, 53, 0.796);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "muli", sans-serif;
}
