@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: color 0.5s, background-color 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(139, 71, 139, 0.641);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(154, 14, 197);
}
